body{
    margin: 5%;
    background-color: #efeff2;
}
#asignacionesXCasa{
    margin-bottom: 20px;
}
#size{
    border: 0ch;
    background-color: #efeff2;
}
#size img{
    width: 100%;
    height: 25vh;
}
#Error{
    margin: 20px;
}